**Intro to Python for Data Science Session 2**

In [1]:
x = 5
y = 10

if x < y:
    print('Yes')
else:
    print('No')

if x > y:
    print('Yes')
else:
    print('No')

Yes
No

In [2]:
names = ['Satya','Lima','Bagas','Maria','Joshua','Nino','Klein']
z = 'satya'
z2 = 'Lima'

if z in names:
    print(f"Yes! {z} is in names list")
else:
    print('No')

if z2 in names:
    print(f"Yes! {z2} is in names list")
else:
    print('No')

No
Yes! Lima is in names list

In [3]:
big_meal_price = 1000
medium_meal_price = 500
money = 700

if money >= big_meal_price:
    print("You can buy a big meal!")
elif money >= medium_meal_price:
    print("You can buy a medium meal!")
else:
    print("Let's collect more money.")

You can buy a medium meal!

In [4]:
count = 1

In [5]:
while count <= 10:
    print(count)
    count = count + 1

1
2
3
4
5
6
7
8
9
10

In [6]:
i = 0
while i < len(names):
    print(names[i])
    i = i + 1

Satya
Lima
Bagas
Maria
Joshua
Nino
Klein

In [7]:
i2 = 0
while i2 < len(names):
    if i2 == 2:
        break
    print(names[i2])
    i2 = i2 + 1

Satya
Lima

In [8]:
#skip index 3 & 6
i3 = 0
while i3 < len(names):
    if i3 % 3 == 0 and i3 != 0:
        i3 = i3 + 1
        continue
    print(f'name no.{i3}', names[i3])
    i3 = i3 + 1

name no.0 Satya
name no.1 Lima
name no.2 Bagas
name no.4 Joshua
name no.5 Nino

In [9]:
for name in names:
    print(name)

Satya
Lima
Bagas
Maria
Joshua
Nino
Klein

In [10]:
for name in names:
    print("Name:")
    s = ""
    for char in name:
        s = s + char + '.'
    print(s.upper())

Name:
S.A.T.Y.A.
Name:
L.I.M.A.
Name:
B.A.G.A.S.
Name:
M.A.R.I.A.
Name:
J.O.S.H.U.A.
Name:
N.I.N.O.
Name:
K.L.E.I.N.

In [11]:
#range
print(list(range(25)),'\n')

print(list(range(10,25)),'\n')

print(list(range(0,25,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [12]:
i3 = 0
for i3 in range(len(names)):
    if i3 % 3 == 0 and i3 != 0:
        continue
    print(f'name no.{i3}', names[i3])

name no.0 Satya
name no.1 Lima
name no.2 Bagas
name no.4 Joshua
name no.5 Nino

In [13]:
profiles = {
    "Names" : ["Harry", "Michael", "Jordan", "Kobe"],
    "Ages" : [18, 33, 24, 40]
}

for key in profiles.keys():
    print(key,'-',profiles[key])

Names - ['Harry', 'Michael', 'Jordan', 'Kobe']
Ages - [18, 33, 24, 40]

In [14]:
for key, value in profiles.items():
    print(key,'-',value)

Names - ['Harry', 'Michael', 'Jordan', 'Kobe']
Ages - [18, 33, 24, 40]

In [15]:
list_keys = ["twos","threes"]
multiplier = 2
for key in list_keys:
    value = []
    for i in range(4):
        value.append(i * multiplier)
    multiplier = multiplier + 1
    profiles[key] = value
    
print(profiles)

{'Names': ['Harry', 'Michael', 'Jordan', 'Kobe'], 'Ages': [18, 33, 24, 40], 'twos': [0, 2, 4, 6], 'threes': [0, 3, 6, 9]}