**Intro to Python for Data Science Session 1 II**

Tipe data **List**, mirip seperti Array

In [1]:
a = ['Kiki', 'Lala', 'Baba']
b = ['Nene', 'Gugu', 'Momo']

a == b

False

In [2]:
len(a)

3

In [3]:
mix = ('Kiki', 24, 10.2)
print(mix)

('Kiki', 24, 10.2)

In [4]:
print(mix[0], mix[1], mix[-1], mix[-2])

Kiki 24 10.2 24

In [5]:
i = [1,2,3,['Nene','Gugu'],[10.2,10.2]]
len(i)

5

In [6]:
print(i[1],i[3])

2 ['Nene', 'Gugu']

Menggabungkan 2 List

In [7]:
c = ['Kiki', 'Lala', 'Baba', 'Nene', 'Gugu', 'Momo']
c2 = a,b
c3 = a+b

print(c[1:4])
print(c[0:len(c)//2])
print(c2)
print(c3)

['Lala', 'Baba', 'Nene']
['Kiki', 'Lala', 'Baba']
(['Kiki', 'Lala', 'Baba'], ['Nene', 'Gugu', 'Momo'])
['Kiki', 'Lala', 'Baba', 'Nene', 'Gugu', 'Momo']

Tipe data **Tuples**

In [8]:
batch = ("PYTN053", "PYTN054", 53, 54)
batches = (("PYTN053",53), ("PYTN054",54))
           
print(batch)
print(batches)
print(batch[0])

('PYTN053', 'PYTN054', 53, 54)
(('PYTN053', 53), ('PYTN054', 54))
PYTN053

Tuples tidak dapat diganti nilainya, berbeda dengan List/Array

In [9]:
p,q,r,s = batch
print(p)
print(q)
print(r)
print(s)

PYTN053
PYTN054
53
54

Tipe data **Dictionary**

In [10]:
profiles = {
    "Names" : ["Harry", "Michael", "Jordan", "Kobe"],
    "Ages" : [18, 33, 24, 40]
}
print(profiles)

{'Names': ['Harry', 'Michael', 'Jordan', 'Kobe'], 'Ages': [18, 33, 24, 40]}

In [11]:
print(profiles.keys())
print(profiles.values())

dict_keys(['Names', 'Ages'])
dict_values([['Harry', 'Michael', 'Jordan', 'Kobe'], [18, 33, 24, 40]])

In [12]:
profiles["Location"] = ["Colorado","California","Indiana","Lincoln"]
print(profiles)

{'Names': ['Harry', 'Michael', 'Jordan', 'Kobe'], 'Ages': [18, 33, 24, 40], 'Location': ['Colorado', 'California', 'Indiana', 'Lincoln']}